<%= t('searchresults_html') %>
<div class="thumbnail">
  <div class="center"> 
    <div class="row">
         <% @propertymanagementfirms.each do |propertymanagementfirm| %>
      <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(propertymanagementfirm.image.url), propertymanagementfirm %>
        <div class="caption">
          <h4><strong><%= propertymanagementfirm.company_name %></strong></h4>
          <strong><th><%= label_tag :nil, t('servicecompanywebsite') %></th></strong><br>
            <%= link_to propertymanagementfirm.company_website, propertymanagementfirm.company_website %><br>
            <strong><th><%= label_tag :nil, t('servicecompanyphone') %></th></strong><br>
            <%= propertymanagementfirm.company_phone %><br>
           <strong><th><%= label_tag :nil, t('servicecompanyaddress') %></th></strong><br>
           <%= propertymanagementfirm.address %><br> 
           <strong><th><%= label_tag :nil, t('city') %></th></strong><%= propertymanagementfirm.city %><br>
           <strong><th><%= label_tag :nil, t('zipcode') %></th></strong><br><%= propertymanagementfirm.zipcode %><br>
           <br>
           
           <td><%= link_to 'Show', propertymanagementfirm, class: "btn btn-success" %></td>
        
        <td><%= link_to 'Edit', edit_propertymanagementfirm_path(propertymanagementfirm), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', propertymanagementfirm, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </div>
      </div>
    </div>
    <% end %>
    </div>

  </div>
</div>   
   
<%= link_to t('back'), propertymanagementfirms_path, class: "btn btn-link"  %>