<%= t('searchresults_html') %>
<div class="thumbnail">
  <div class="center"> 
    <div class="row">
     <% @hardmoneys.each do |hardmoney| %>
      <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(hardmoney.image.url), hardmoney %>
        <div class="caption">
          <h4><strong><%= hardmoney.company_name %></strong></h4>
          <strong><th><%= label_tag :nil, t('servicecompanywebsite') %></th></strong><br>
            <%= link_to hardmoney.company_website, hardmoney.company_website %><br>
            <strong><th><%= label_tag :nil, t('servicecompanyphone') %></th></strong><br>
            <%= hardmoney.company_phone %><br>
           <strong><th><%= label_tag :nil, t('servicecompanyaddress') %></th></strong><br>
           <%= hardmoney.address %><br> 
           <strong><th><%= label_tag :nil, t('city') %></th></strong><%= hardmoney.city %><br>
           <strong><th><%= label_tag :nil, t('zipcode') %></th></strong><br><%= hardmoney.zipcode %><br>
           <br>
           
           <td><%= link_to 'Show', hardmoney, class: "btn btn-success" %></td>
        
        <td><%= link_to 'Edit', edit_hardmoney_path(hardmoney), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', hardmoney, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        </div>
      </div>
    </div>
    <% end %>
    </div>

  </div>
</div>   
   
<%= link_to t('back'), hardmoneys_path, class: "btn btn-link"  %>