<div class="row" id="featuresHeading">
    <div class="col-12">
         <%= t('servicestitle_html') %>
        <p class="lead"></p>
    </div>
</div>


<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('architect_html') %>
               
            </div>
            <%= image_tag("architect.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), arquitects_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('airconditioner_html') %>
                
            </div>
             <%= image_tag("airconditioner.png", :size => "85x85", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), airconditioners_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
</div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('asphalt_html') %>
                
            </div>
              <%= image_tag("ASPHALT.png", :size => "100x100", :alt => "Architect", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), asphalts_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('wood_html') %>
                
            </div>
             <%= image_tag("wood.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
         <div class="panel">
            <div class="panel-heading">
                <%= t('appliance_html') %>
                
            </div>
              <%= image_tag("appliancesale.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
             <div class="panel">
            <div class="panel-heading">
                <%= t('appliancerepair_html') %>
                
            </div>
              <%= image_tag("appliancerepair.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                  <%= t('banks_html') %>
               
            </div>
             <%= image_tag("privatebank.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), privatebanks_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('builder_html') %>
               
            </div>
            
             <%= image_tag("builder.jpg", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('building_html') %>
                
            </div>
             <%= image_tag("buildingmaterial.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('cashbuyer_html') %>
            </div>
             <%= image_tag("cashbuyer.png", :size => "100x100", :alt => "Bank", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), cashbuyers_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('cabinet_html') %>
            </div>
            
             <%= image_tag("customcabinets.png", :size => "100x100", :alt => "CashBuyer", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), customcabinets_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('cement_html') %>
               
            </div>
             <%= image_tag("cement.jpg", :size => "100x100", :alt => "CustomCabinets", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('cleaning_html') %>
               
            </div>
             <%= image_tag("cleaning.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('countertops_html') %>
            </div>
             <%= image_tag("countertop.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), countertops_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        
            <div class="panel">
            <div class="panel-heading">
                <%= t('cleaningremoval_html') %>
            </div>
             <%= image_tag("removal.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('decks_html') %>
                
            </div>
             <%= image_tag("fences.png", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('drywall_html') %>
            </div>
             <%= image_tag("drywall.jpg", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), drywalls_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('electricians_html') %>
                
            </div>
             <%= image_tag("electrician.png", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('eav_html') %>
               
            </div>
             <%= image_tag("eavestrouphing.jpg", :size => "100x100", :alt => "Countertop", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('exterior_html') %>
                
            </div>
             <%= image_tag("exterior.png", :size => "100x100", :alt => "Drywall", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('engineer_html') %>
                
            </div>
             <%= image_tag("engineer.jpg", :size => "100x100", :alt => "Framing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('flooring_html') %>
                
            </div>
             <%= image_tag("flooring.jpg", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), floorings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('framing_html') %>
                
            </div>
             <%= image_tag("framing.jpg", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), framings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('foundation_html') %>
                
            </div>
             <%= image_tag("foundationrepair.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('fireplace_html') %>
            </div>
             <%= image_tag("fireplace.png", :size => "100x100", :alt => "Flooring", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('general_html') %>
                
            </div>
             <%= image_tag("generalcontrator.jpg", :size => "100x100", :alt => "GeneralContractor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), generalcontractors_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('homeinspector_html') %>
                
            </div>
             <%= image_tag("homeinspector.png", :size => "100x100", :alt => "Homeinspector", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), homeinspectors_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('hardmoney_html') %>
                
            </div>
             <%= image_tag("hardmoneylender.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), hardmoneys_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('theater_html') %>
                
                
            </div>
             <%= image_tag("home.jpg", :size => "100x100", :alt => "InteriorDesing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('insulation_html') %>
               
            </div>
            <%= image_tag("insulation.png", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), insulations_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('interior_html') %>
                
            </div>
             <%= image_tag("interior.jpg", :size => "100x100", :alt => "Hardmoney", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), interiordesigners_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('weather_html') %>
                
            </div>
              <%= image_tag("weatherproof.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('light_html') %>
                
            </div>
            <%= image_tag("lighting.jpg", :size => "100x100", :alt => "Insulation", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('landscaping_html') %>
                
            </div>
             <%= image_tag("landscaping.png", :size => "120x100", :alt => "Landscaping", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <p></p>
            <%= link_to t('searchservices'), landscapings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('landsurveyors_html') %>
                
            </div>
             <%= image_tag("landsurveyors.png", :size => "120x100", :alt => "LandSurveyor", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), landsurveyors_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('moving_html') %>
                
            </div>
             
             <%= image_tag("movincompany.jpg", :size => "120x100", :alt => "Moving", :style =>"margin-right:25px; margin-top:10px;" ) %>
            
            <p></p>
            <%= link_to t('searchservices'), movingcompanies_path, class: "btn btn-default", data: {no_turbolink: true} %>
            
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('mortgage_html') %>
                
            </div>
              <%= image_tag("mortagagebrokers.png", :size => "120x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), mortgages_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('mold_html') %>
                
            </div>
             <%= image_tag("moldinspector.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), molds_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('paint_html') %>
                
            </div>
             
             <%= image_tag("painting.png", :size => "100x100", :alt => "Mortgage", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), paintings_path, class: "btn btn-default", data: {no_turbolink: true} %>
            
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('plumbing_html') %>
                
            </div>
             <%= image_tag("plumbing.jpg", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), plumbings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('privatefirm_html') %>
                
            </div>
             <%= image_tag("privateaccesementfirms.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
             
            <p></p>
             <%= link_to t('searchservices'), privatefirms_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('propertyfirm_html') %>
                
            </div>
             <%= image_tag("propertymanagementfirms.png", :size => "100x84", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), propertymanagementfirms_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('poolcleaner_html') %>
                
            </div>
             <%= image_tag("poolcleaner.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), poolcleaners_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('poolrepair_html') %>
                
            </div>
             <%= image_tag("poolrepair.png", :size => "100x100", :alt => "Plumbing", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), poolrepairs_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('realtor_html') %>
                
            </div>
             <%= image_tag("realtors.png", :size => "100x100", :alt => "Realtors", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), realtors_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <%= t('accountant_html') %>
                
            </div>
             <%= image_tag("realestateaccounts.png", :size => "100x100", :alt => "Accountants", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), accountants_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('lawyer_html') %>
                
            </div>
              <%= image_tag("realestatefirms.jpg", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), lawyers_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('realestate_html') %>
                
            </div>
            <%= image_tag("realestatefirms.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), real_estatefirms_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('rentalpropertyfirm_html') %>
                
            </div>
             <%= image_tag("rental.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), rentalproperties_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('remodel_html') %>
                
            </div>
              <%= image_tag("remodel.jpeg", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('roofing_html') %>
                
            </div>
             <%= image_tag("roofing.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), roofings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('security_html') %>
                
            </div>
             <%= image_tag("securitycompany.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), securities_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('septic_html') %>
                
            </div>
            
              <%= image_tag("septic.png", :size => "100x100", :alt => "Lawyers", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), septics_path, class: "btn btn-default", data: {no_turbolink: true} %>
            
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('solarscreen_html') %>
                
            </div>
             <%= image_tag("windowstreatment.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), solarscreens_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>

<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('staging_html') %>
                
            </div>
              <%= image_tag("staging.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), stagings_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('soffit_html') %>
                
            </div>
             <%= image_tag("soffit.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('spapool_html') %>
                
            </div>
             <%= image_tag("poolspa.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
             <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('solarenergy_html') %>
                
            </div>
              <%= image_tag("solar.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
            
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('dissable_html') %>
                
            </div>
             <%= image_tag("senior.jpg", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), services_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('tax_html') %>
                
            </div>
             <%= image_tag("taxspecialist.png", :size => "140x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), taxspecialists_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
</div>
<div class="row" id="features">
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('termite_html') %>
                
            </div>
             <%= image_tag("termiteinspector.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), termiteinspectors_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
        <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('titlecompany_html') %>
                
            </div>
             <%= image_tag("titlecompany.png", :size => "100x100", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), titlecompanies_path, class: "btn btn-default", data: {no_turbolink: true} %>
        </div>
        </div>
         <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <%= t('windows_html') %>
                
            </div>
             <%= image_tag("window.png", :size => "120x84", :alt => "Septics", :style =>"margin-right:25px; margin-top:10px;" ) %>
            <p></p>
            <%= link_to t('searchservices'), windows_path, class: "btn btn-default", data: {no_turbolink: true} %>
            
        </div>
        </div>
</div>
