<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
			<div class="left">
			<h5 style="font-family:Calibri">
				Copyright &copy; 2015 <link><a href="http://www.dngglobal.ca" target="_blank"><strong>D&G Global INC</strong></a></link><br>
				All Rights Reserved 
				<link><a href="/pages/termsofuse"><font color="white">Terms & Conditions</font></a></link>|<link><a href="/pages/privacypolicy"><font color="white">Privacy Policy</font></a></link></h5>
		 	</div>
		 </div>
			<div class="col-sm-3">
			<div class="left">
				<%= t('contact_html') %>
				
				<link><a href="/pages/home"><font color="white">customers@dngglobal.ca</font></a></link>
				<h5 style="font-family:Tahoma" ><font size="4"><strong>1-844-DG-GLOBE</strong></font></h5>
				</div>
			</div>
				<div class="col-sm-3">
				<div class="left">
				<%= t('about_html') %>
				</div>
			</div>

		<div class="form-group">	
		<div class="col-sm-3">
			<div class="left">
			<%= t('follow_html') %>
			
			<div class="form-group">
			<div class="row">
        		<a href="http://www.facebook.com"><%= image_tag("facebookpage.png", :size => "33x33", :alt => "Facebook" ) %></a>
        		<a href="http://www.twitter.com"><%= image_tag("twitterpage.png",  :size => "33x33", :alt => "Twitter" ) %></a>
        		<a href="http://www.instagram.com"><%= image_tag("instagram.png", :size => "33x33", :alt => "Instagram" ) %></a>
        		<a href="http://www.google.com"><%= image_tag("googleplus.png", :size => "38x38", :alt => "Google" ) %></a>
        		<a href="http://www.linkedin.com"><%= image_tag("linkedin.png", :size => "33x33", :alt => "Instagram" ) %></a>
    		</div>
        	</div>
        </div>
    </div>
		</div>
		</div>
		</div>
	</div>
</footer>
</div>
</nav>
